<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.15/index.global.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
         var calendarEl = document.getElementById('calendar');
 calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',

               googleCalendarApiKey: 'AIzaSyChZZpWB_f-Tn5sMBWTfg8UDLJ-v79Sm8E',
                 events: {
                googleCalendarId: '1f94a9a08dfdb514a425e7180619d87248f1f7de25315fdf894f6c8b74406194@group.calendar.google.com'
             },



          });
          calendar.render();
               });


    </script>
</head>
<body>
<div id='calendar'></div>


</body>
</html>