<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>   MEMBER !!</h1>

    <div th:text="${#authentication}"></div>
    <hr>
    <div th:text="${#authentication.name}"></div>  <!--getName() 같은거-->
    <hr>
    <div th:text="${#authentication.principal.userDto}"></div>  <!--principal 정보(dto같은거?)-->
    <hr>
    <div th:text="${#authentication.principal.userDto.username}"></div>  <!--principal 정보(dto같은거?)-->
    <hr>
    <div th:text="${#authentication.authenticated}"></div>  <!--ROLE 정보--> <!--인증된 ? (true,false)-->
    <hr>


</body>
</html>


